.inputContainer {
  display: inline-flex;
  position: relative;
}
  
  
  .emojiPickerButton {
    display: inline-block;
    background-color: transparent;
    border:none;
    cursor: pointer;
  }
  
  
  